@import "tailwindcss";

:root {
  --Deepnavy-color: #050a11;
  --midnight-blue-color: #0A1931;
  --dusty-Blue-color: #1A3d63;
  --light-blue-color: #476b92;
  --Ivory-blue-color: #bdc4d4;
  --Buttercream-color: #dad7cf;
  --paig-color : #f0ece2;
  
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: rgb(0, 0, 0);
  }
}

*{
    scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar{
    background-color: transparent;
    transition: background-color 0.5s ease;
}
.navbar .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.671);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navbar .navbar-nav .nav-link.active{
    color: white;
}
.navbar .navbar-nav .nav-link:hover{
    color: white;
}
.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border: 1px solid white;
}
.navbar .navbar-toggler:focus{
    box-shadow: white;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    color: white;
}
.container .navbar-brand-name{
    color: white;
    font-size: 25px;
}

/* Footer Styles */
.footer{
    background-color: var(--midnight-blue-color);
}
.footer img{
    height: 120px;
    width: 130px;
}
.footer .links a{
    text-decoration: none;
    color: var(--Buttercream-color);
    transition: 0.5s;
}
.footer .links a:hover{
    font-size: 18px;
    color: var(--Buttercream-color);
    transition: 0.5s;
}
.footer .btn{
    color: var(--midnight-blue-color);
    background-color: white;
    transition: 0.5s;
    text-decoration: none;
}
.footer ul li i{
    font-size: 25px;
    color: #bebebe;
    transition: 0.3s;
}
.footer i:hover{
    color: white;
    font-size: 27px;
    transition: 0.5s;
}

/* Button Styles */
.btn-main {
    color: white;
    font-weight: 500;
    background-color: var(--light-blue-color);
    border: 2px solid var(--midnight-blue-color);
    transition: .3s;
}
.btn-main:hover{
    color: var(--dusty-Blue-color);
    background-color: var(--Ivory-blue-color);
    transform: scaleX(1.1);
    transition: .4s;
}

/* Main Title Styles */
.main-title h1{
    color: var(--dusty-Blue-color);
}
.main-title::after{
    content: ' ';
    width: 180px;
    height: 2px;
    background-color: var(--dusty-Blue-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Box Styles */
.box {
    border: 1px solid var(--midnight-blue-color);
    border-radius: 40px;
    overflow: hidden;
}
.inside-the-box{
    padding: 10px;
    border: 1px solid var(--dusty-Blue-color);
    border-radius: 50px;
}

/* Icon Holder */
.icon-holder{
    height: 200px;
}
.icon-holder i{
    left: 50%;
    transform: translateX(-50%);
}
.icon-holder .number{
    font-size: 12rem;
    color: var(--Ivory-blue-color);
}
.icon-holder .icon{
    color: var(--dusty-Blue-color);
}

/* Link Styles */
.links a{
    text-decoration: none;
    color: var(--Buttercream-color);
    transition: 0.5s;
}
.links a:hover{
    font-size: 18px;
    color: var(--Buttercream-color);
}

/* Social Icons */
.insta, .face, .twitter, .linkin {
    font-size: 25px;
    color: #bebebe;
    transition: 0.3s;
}
.insta:hover, .face:hover, .twitter:hover, .linkin:hover{
    color: white;
    font-size: 27px;
    transition: 0.5s;
}

