

:root{
--Deepnavy-color: #050a11;
--midnight-blue-color: #0A1931;
--dusty-Blue-color: #1A3d63;
--light-blue-color: #476b92;
--Ivory-blue-color: #bdc4d4;
--Buttercream-color: #dad7cf;
--paig-color : #f0ece2;
--success-color: #28a745;
--error-color : #dc3545;
}


*{
    scroll-behavior: smooth;
    behavior: smooth;
}
html{
    background-color: var(--Buttercream-color);
}
body{
    font-family: "Poppins", sans-serif;
}
.contact-form{
    background-color: var(--Buttercream-color);
    color: white;
    position: absolute;
    width: 100%;
}
.contact-form .container{
    background-color: var(--dusty-Blue-color);
    height: 750px;
    width: 1000px;
    border: 1px solid white;
    border-radius: 60px;
    box-shadow: white 0px 0px 10px 1px;
}
.contact-form .form-control{
    background-color: var(--Ivory-blue-color);
    border-radius: 40px;
}
.contact-form .form-control:focus{
    background-color: var(--light-blue-color);
    color: white;
    box-shadow: none;
}
#message{
    border-radius: 20px;
}
#submit{
    background-color: var(--light-blue-color);
    color: white;
    border-radius: 40px;
    width: 150px;
    height: 45px;
    font-weight: 600;
    transition: .3s;
}
.contact-img{
    position: absolute;
    left: 65%;
    top: 40%;
    transform: translateX(-50%);
    width: 450px;
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.error {
    color: var(--error-color);
    font-size: 0.900rem;
    margin-top: 0.25rem;
    min-height: 1.25rem;
}
.success {
    color: var(--success-color);
    font-size: 0.900rem;
    margin-top: 0.25rem;
    min-height: 1.25rem;
}
.form-control:focus .invalid {
    border-color: var(--error-color);
}
.form-control:focus .valid {
    border-color: var(--success-color);
}